body{
    background-color: #CDF0EA;
    position: relative;
    text-align: center;
    margin:0px;
    font-family: 'Inconsolata', monospace;
}
hr{
    border-style: none; 
    border-top-style: dotted;
    border-color:#a0a9a9;
    border-width: 5px;
    height: 0px;
    width: 2%;   
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin-top:0px;
    margin-bottom:0px;
    font-family: 'Sacramento';
    font-weight: normal;

}
h2{
    font-weight: normal;
    color: #66BFBF;
    margin-top:0px;
    margin-bottom:0px;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: rgb(190, 197, 197);
}
/**********************************************CLASS SELECTORS****************************************/

.container-fluid{
    background-color: #CDF0EA;
}

.navbar{
    padding: 0 0 4.5rem 0;
}
/* .navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
} */
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-family:'silkscreen', sans-serif;
    color: #66BFBF;
}
.home-name{
    padding-top: 20px;
}
.top-container{
    width:100%;
    background-color: #CDF0EA;
    position: relative;
    padding-top: 150px;
    margin-bottom: 40px;

}
.mountains{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 38px;
}
/* .trees1{
    width:30.5%;
    position: absolute;
    top:260px;
    right:0px;
}
.trees2{
    width: 30.5%;
    position: absolute;
    bottom:-50px;
    left:0px;
} */
.top-cloud{
    width: 15%;
}
.bottom-cloud{
    width: 15%;
    position: relative;
    bottom: 345px;
    left: 360px;
}
.middle-container{
    background-color: whitesmoke;
    position: relative;
    padding-top:20px;
    margin-bottom: 10px;
    margin-bottom: 20px;

}
.bottom-container{
    background-color:#CDF0EA ;
    padding-top: 80px;
    height: 150px;

}
.top-cloud{
    position:absolute ;
    right: 450px;
    top: 80px;
}
.bottom-cloud{

    position: absolute;
    top: 330px;
    left:400px;

}
.profile{
    margin-bottom: 30px;
}
.skills{
    margin-top: 30px;
    margin-bottom: 50px;
}
.skill-row{
    margin-top: 30px;
    margin-bottom: 50px;
}
.contact-me{
    background-color: whitesmoke;
    font-size: 18x;
    margin-top: 50px;
    padding-bottom: 40px;
}
.contact-message{
    margin: 40px auto 50px;
}
.btn {
    background: rgb(84, 176, 176);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family:'Merriweather Sans', sans-seri;
    color: white;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #18aba6;
    text-decoration: none;
  }
.footer-link{
    text-decoration: none;
    margin: 0 5px 0 5px;
    color:#11999E;
}

.copyright{
    padding-top: 14px;
    font-size: 0.7rem;
    
}
.middle-container-img{
    width: 10%;
}

/******************************************ID SELECTORS*****************************************/

#bio{
    background-color: #CDF0EA
    ;
}
#a-programmer{
    font-family: "silkscreen";

}



@media (max-width:800px) {
    .mountains{
        width: 80%;
    }
    hr{
        width: 4%;
    }
    p{
        line-height: 2;
    }
    .middle-container-img{
        width: 30%;
    }
    
}

@media (max-width:1000px) {
    .top-container{
        padding-top: 40px;
    }
    .fixed-top{
        position: relative !important;
    }
    .top-cloud{
        position: absolute;
        top: 0px;
        right: 20px;
        width: 25%;
        padding-bottom: 20px;
    }
    .home-name{
        padding-top: 20px ;
    }
    .bottom-cloud{
        position: absolute;
        left: 20px;
        width: 25%;
        top: 250px;
    }
    .burger{
        position: relative;
        right: 5px;
    }
    
}
